*{
	box-sizing: border-box;
	padding: 0;
	margin:  0;
	outline:  none;
	border:  none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: #dfdfdf;
	/*border-left: 1px solid #ddd;*/
	}
::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border: 1px solid #aaa;
	/*-webkit-border-radius: 1ex;*/
	/*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);*/
}
::-webkit-scrollbar-corner {
	background: #000;
}
html,body{
	padding: 0;
	margin:  0;
	overflow: hidden;
	font-family: DroidSans, Sans;
	font-size: 13px;
	color: #333;
	position: relative;
}

#menu-bar{
	background: #ddd;
	/*width: 100%;*/
	height: 51px;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
	font-size: 0;
	display: block;
	padding: 0;
	padding-left: 109px;
	padding-right: 5px;
}
#sidebar{
	background: #ddd;
	float: left;
	width: 200px;
	height: 100%;
	border-right: 1px solid #bbb;
	position: relative;
	overflow: hidden;
	position: absolute;
	top: 51px;
	left: 0;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

#sidebar>items{
	text-decoration: none;
	height: 20px;
	padding: 10px 0;
	vertical-align: middle

}

#content{
	width: 100%;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #f9f9f9;
	position: relative;
	padding-left: 200px;
}
#files {
	padding: 10px 15px;
	padding-right: 60px;
	background: transparent;
	overflow: hidden;
}
#actions {
	position: fixed;
	top: 60px;
	padding: 20px 10px;
	right: 12px;
	opacity: 0;
	width: 70px;
	min-height: 580px;
	/*border: 1px solid #ddd;*/
	background: transparent;
}
#actions:hover {
	float: right;
	opacity: 1;
	transition: opacity .15s .3s;
}

.item{
	float: left;
	margin: 0 10px;
	margin-bottom: 10px;
/*
	padding: 10px;
	width: 130px;
	height: 130px;
	text-align: center;
	overflow: hidden;
	color: #333;
	border: 1px solid transparent;
	border-radius: 2px;
	background: transparent;*/
	/*transition: background-color .1s, border-color .1s;*/
}
.inline-item.selected{
	background: #DDBCBC;
}
.inline-item:hover{
	background: #eee;
	border-color: #ddd;
	color: black;
}
.inline-item:hover>img{
	-webkit-filter: contrast(1.1) brightness(1.05);
}
.inline-item>img{
	transition: -webkit-filter .1s;
	height: 60px;
	max-width: 120px;
	max-height: 60px;
}
.inline-item>p{
	height: 80px;
	word-wrap: break-word;
/*	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

.inline-item{
	cursor: pointer;
	display: block;
	float: none;
	height: 30px;
	width: 100%;
	margin: 0;
	text-align: left;
	vertical-align: middle;
	line-height: 30px;
	padding: 0 15px;
}


.inline-item>img{
	height: 20px;
	max-width: 40px;
	max-height: 20px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -13px;
}
.inline-item>p{
	display: inline-block;
	height: 30px;
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 5px;
}

#nav-button-container{
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 109px;
	display: inline-block;
}

#files.hide-hidden>.item.hidden-item{
	display: none;
}

button{
	border: 1px solid #aaa;
	background: #eee;
	border-radius: 2px;
	color: #333;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	text-align: center;
	padding: 0 3px;
	margin: 5px;
	-webkit-transition: border-color .1s, background-color .1s;
}
.button-separator{
	border-left: 1px solid #aaa;
	vertical-align: middle;
	height: 40px;
	margin: 5px 0;
	display: inline-block;
}
.button-separator.hide {
	display: none;
}
button:hover{
	background-color: #f5f5f5;
	border-color: #999;
}
button.left-button{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
	margin-right: 0;
}
button.right-button{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: none;
	margin-left: 0;
}

button.action-button{
	padding: 0;
	width: 40px
}

button.hide{
	display: none;
}

button.disabled{
	opacity: 0.3;
}

button:hover.disabled{
	border-color: #aaa;
	background: #eee;
	opacity: 0.3;
}

#prev-button, #next-button{
	/*float: left;*/
}

#up-button {
	margin-right: 0;
	position: absolute;
	right: -1px;
	top: 4px;
	height: 32px;
	width: 40px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input{
	border: 1px solid #aaa;
	background: #f9f9f9;
	border-radius: 2px;
	display: inline-block;
	width: 570px;
	height: 32px;
	padding: 0 5px;
	font-size: 14px;
	color: #333;
	margin: 5px;
	-webkit-transition: background-color .1s;
}
input:hover, input:focus{
	background-color: white;
}

#location {
	/*width: 686px;*/
	display: block;
	vertical-align: top;
	margin: 0;
	margin-top: 9px;
	width: 100%;
/*	margin-right: 15px;
	margin-top: 9px;*/
}

.sidebar-section>h3 {
	margin-top: 20px;
	padding: 0 15px;
	font-weight: 700;
	text-decoration: none;
	color: #333;
	font-size: 13px;
}

#context-menu {
	background: #333;
	color: #ddd;
	min-width: 150px;
	min-height: 20px;
	position: absolute;
	z-index: 1500;
	font-size: 13px;
	line-height: 30px;
	top: 100px;
	left: 100px;
	cursor: default;
	box-shadow: 0 1px 4px 0px rgba(0,0,0,0.3);
}

.context-menu-item{
	padding: 0 15px;
}

.context-menu-item:hover{
	color: white;
	background: #cc3333;
}

/* View Mode: Rows */
#files.view-rows{
	padding: 0;
}

#files.view-rows>.item {
	/* float: left; */
	display: block;
	padding: 2px 15px;
	width: 100%;
	height: 34px;
	margin: 0;
	text-align: left;
	overflow: hidden;
	color: #333;
	/*border: 1px solid transparent;*/
	border-radius: 0;
	cursor: pointer;
	/*background: transparent;*/
	/*transition: background-color .15s, border-color .15s;*/
	font-size: 0;
	border-left: none;
	border-right: none;
}
#files.view-rows>.item>img {
	/*transition: -webkit-filter .15s;*/
	height: 30px;
	max-width: 120px;
	max-height: 60px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
#files.view-rows>.item>p {
	height: 30px;
	word-wrap: break-word;
	display: inline;
	font-size: 13px;
	vertical-align: top;
	line-height: 33px;
	white-space: pre;
}

#selection-overlay {
	border: 1px solid #cc3333;
	background: rgba(204, 33, 33, 0.2);
	border-radius: 2px;
	z-index: 6000;
	position: absolute;
}
