[Desktop Entry]
Name=NDE Files
Comment=NDE File Manager
Exec=/home/leo/.local/bin/nde-filemanager %U
Icon=nde-filemanager
Terminal=false
Type=Application
Categories=System;
MimeType=inode/directory;application/x-gnome-saved-search;
Actions=Videos;

[Desktop Action Videos]
Name=Videos
Exec=/home/leo/.local/bin/nde-filemanager /home/leo/Videos
