[Desktop Entry]
Name=NDE Files
Comment=NDE File Manager
Exec=nw /home/leo/.local/share/nde-filemanager/nde-filemanager.nw
Icon=folder
Terminal=false
Type=Application
Categories=System;

